/* IVPLC 01/2012 */


/* HOME */
#intro {height: auto; width: 45%; float: left; margin-left: 20px;}
#car {float: right;  }



/* GROUP */
#groups #supervisors { height: auto; width: 450px; float: left; }
#groups #assistants { height: auto; width: 350px; float: right; }
#groups h2 { line-height: 60px; }

#groups .member { float: left; height: auto; width: 100%; margin-bottom: 40px; }

#groups .member .mask { float: left; width: 75px; height: 75px; overflow: hidden; }
#groups .member .mask img { height: auto; width: 75px; }

#supervisors .member .info { float: right; width: 360px; }
#assistants .member .info { float: right; width: 260px; }
#groups .member .info .details { height: 39px; padding: 12px 0; margin-bottom: 20px; margin-top: -12px;}
#email { margin-top:-5px;}
#groups .member .info h5 {  margin-bottom: 0; }
#groups .member .info p { margin-bottom: 0; text-align: justify; }



/* PUBLICATIONS */
#publications a.publication { display: block; height: auto; width: 100%; margin-bottom: 30px; float: left; overflow: hidden;}
#publications a.publication:nth-child(3n+4) { margin-right: 0; }
#publications a.publication .icon {
	background: url(images/publication.png) no-repeat;
	height: 64px; width: 31px; margin-right: 15px;
	float: left;
}
#publications a.publication h5 { position:relative; margin-bottom: 5px; top: -12px; color: #000000;}
#publications a.publication p.affiliation { position:relative; margin-bottom: 5px; top: -12px; color: #000000;}
#publications a.publication p.author { position:relative; margin-bottom: 0; top: -12px; color: #000000;}

#publications a.publication:hover h5 { color: #0d58be; }
#publications a.publication:hover .icon { background-position: 0 -64px; }

#publications a.publication:hover p.affiliation { color: #0d58be;}
#publications a.publication:hover p.author { color: #0d58be;}


/* EDIT PUBLICATIONS LIST*/
#publications a.edit_publication { display: block; height: auto; width: 100%; margin-bottom: -10px; float: left; overflow: hidden;}
#publications a.edit_publication:active { outline:0;}
#publications a.edit_publication:nth-child(3n+4) { margin-right: 0; }
#publications a.edit_publication .icon {
	background: url(images/publication.png) no-repeat;
	height: 64px; width: 31px; margin-right: 15px;
	float: left;
}
#publications a.edit_publication h5 { position:relative; margin-bottom: 5px; top: -12px; color: #000000;}
#publications a.edit_publication p.affiliation { position:relative; margin-bottom: 5px; top: -12px; color: #000000;}
#publications a.edit_publication p.author { position:relative; margin-bottom: 0; top: -12px; color: #000000;}

#publications a.edit_publication:hover h5 { color: #0d58be; }
#publications a.edit_publication:hover .icon { background-position: 0 -64px; }

#publications a.edit_publication:hover p.affiliation { color: #0d58be;}
#publications a.edit_publication:hover p.author { color: #0d58be;}

/* PUBLICATIONS AWAITING APPROVAL*/
#publications div.unpublication { display: block; height: auto; width: 100%; margin-bottom: -10px; float: left; overflow: hidden; }
#publications div.unpublication:nth-child(3n+4) { margin-right: 0; }
#publications div.unpublication .icon {
	background: url(images/publication.png) no-repeat;
	height: 64px; width: 31px; margin-right: 15px;
	float: left;
}
#publications div.unpublication h5 { margin-bottom: 5px; position:relative; top:-10px;}
#publications div.unpublication p.affiliation { margin-bottom: 5px; position:relative; top:-10px; }
#publications div.unpublication p.author { margin-bottom: 0; position:relative; top:-10px;}

#publications  input[type="checkbox"].delete_pub { float: right; position:relative; top: -40px;}
#publications  input[type="checkbox"].delete_pub:focus { outline:0;}

#publications div.unpublication:hover { color: #BD362F; }
#publications div.unpublication:hover .icon { background-position: 0 -128px; }

#data_well{ float:left; max-width:428px; width: 428px; background: #AAAAAA; }
#data_well_comp{ max-width:428px; width: 300px; background: #AAAAAA; margin-left: 20px; margin-bottom:-5px;}
#data_well_manu{ max-width:428px; background: #AAAAAA; }

#error_msg {position: relative; margin-bottom: 10px; left: 10px; color: #A9302A;}
#login:focus {outline:0;}


#label {margin-bottom: 20px; color:#003399}

