/* IVPLC 01/2012 */


/* MEASUREMENTS */
#measurement_title h2 .title{ margin-top: -20px;}
#measurements_index h4 { clear: both; margin: 20px 0; }
#measurements_index a.vehicles { display: block; height: 200px; width: 150px; margin: 0 10px 10px 0; float: left; border: 1px solid black; overflow:hidden;}
#measurements_index a.vehicles .mask { width: 150px; height: 100px; overflow: hidden; margin-bottom: 10px; }
#measurements_index a.vehicles .mask img { width: 150px; position: relative; top: -10px; left: 0; }
#measurements_index a.vehicles p { margin-bottom: 0; text-align: center; }
#measurements_index a.vehicles p.model { font-weight: bold; color: #000000}
#measurements_index a.vehicles p.year { font-weight: bold; color: #000000}

#measurements_index a.vehicles:hover p.model { font-weight: bold; color: #0d58be}
#measurements_index a.vehicles:hover p.year{ font-weight: bold; color: #0d58be}

/*FOR REJECTED or AWAITING APPROVAL VEHICLE ON THE LIST */
#measurements_index div.vehicles { display: block; height: 200px; width: 150px; margin: 0 10px 10px 0; float: left; border: 1px solid black; overflow:hidden}
#measurements_index div.vehicles .mask { width: 150px; height: 100px; overflow: hidden; margin-bottom: 10px; }
#measurements_index div.vehicles .mask img { width: 150px; position: relative; top: -10px; left: 0; }
#measurements_index div.vehicles p { margin-bottom: 0; text-align: center; }
#measurements_index div.vehicles p.model { font-weight: bold; color: #000000}
#measurements_index div.vehicles p.year { font-weight: bold; color: #000000}
#measurements_index div.vehicles p.under_verification { font-weight: bold; color: #000000}

#measurements_index div.vehicles:hover p.model { font-weight: bold; color: red}
#measurements_index div.vehicles:hover p.year{ font-weight: bold; color: red}
#measurements_index div.vehicles:hover p.under_verification{ font-weight: bold; color: red}

#del_vehicle {position:relative; left:65px;}
#del_vehicle:focus {outline:none}

#del_selected {margin-left:20px;}
#del_selected:focus {outline:none}

#measurements_index a:hover { text-decoration: none;}


.contri_name {font: 12px/32px Helvetica; margin-bottom: -36px; position:relative; bottom:60px;}


/* MEASUREMENT PAGE */
#measurements_vehicle h2 span { font: 12px/95px Helvetica; float: right; }
#measurements_vehicle .component {
	height: auto; min-height: 150px; width: 166px;
	float: left; margin: 0 21px 21px 0;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
#measurements_vehicle .component:nth-child(5n) { margin-right: 0; border-right: none; }

#measurements_vehicle p.note { float: none; margin-bottom: 40px; }
#measurements_index p.note { float: none; margin-bottom: 40px; }
#measurements_vehicle .component h5 { margin-bottom: 0; }
#measurements_vehicle .component h5 a { font: bold 14px/24px Helvetica; }
#measurements_vehicle .component ul.measurements { padding: 20px;  min-height: 200px;}
#measurements_vehicle .component ul.measurements li { margin-bottom: 10px; }

/* MEASUREMENT EDITING PAGE */
#measurements_vehicle .component_edit {
	height: auto; min-height: 150px; width: 250px;
	float: left; margin: 0 21px 21px 0;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}


#measurements_vehicle .component_edit h4 { margin-bottom: 0; }
#measurements_vehicle .component_edit h4 a { font: bold 14px/24px Helvetica; }
#measurements_vehicle .component_edit ul.measurements_edit { padding: 20px;  min-height: 200px;}
#measurements_vehicle .component_edit ul.measurements_edit li { margin-bottom: 10px; }

#measurements_vehicle #title_edit_measurement { border-bottom:5px; }

/* SLIDER */
#slider{height: 300px;  position: relative; text-align: center;}
.nivoSlider { position: relative; height: 330px; width: 620px; margin-bottom: 40px; margin-left: 140px; }
.nivoSlider img { position: absolute; top: 0; left: 0; width: 100%; height: 300px; } 
.nivoSlider a { 
	border: 1px solid; position: relative; top: 310px;
	font: bold 12px Helvetica, san-serif; 
	padding: 5px;
	margin-right: 10px;
}
.nivo-slice { display: block; height: 100%; position: absolute; z-index: 5; }
.nivo-box { display: block; position: absolute; z-index: 5; }

.await_text {}
.reject_text {}

.await_text_measure {position:relative; left:10px;}
.reject_text_measure {position:relative; left:10px;}

.await_text_comp { position:relative; top:10px;}
.reject_text_comp { position:relative; top:10px;}

.await_text_pub { position:relative; top:5px; left:40px;}
.reject_text_pub { position:relative; top:5px; left:40px;}

.checkbox_edit_measurements {position: relative; top:2.5px; right:5px;}
.checkbox_edit_measurements:active {outline:0;}

.checkbox_edit {position: relative; left:10px;}
.checkbox_edit:active {outline:0;}
.replace_link{ margin-left: 5px; color:black; }
.replace_link:hover {}
 
#mini_nav {margin-top:30px; position:relative; left:110px;}
#mini_nav_long {position: relative; left:105px;}
.mini_nav_button:focus { outline: 0;}

#submit_readme { position:relative; top:-5px; margin-bottom:5px;}
#panel_manage_files{position:relative; right:75px;}
#panel_manage_files_status { border:none; position:relative; right:110px;}
#panel_manage_files_checkbox { border:none; position:relative; right:5px;}
#list_small{ height:42px}
#item_checkbox{height:39.25px;}
.text_placeholder {color:white;}

#panel_add_measure_status{position:relative; right:35px; border:none;}
#panel_add_measure_main{border:none;}
