/* Elliot Barer, ebarer [at] mac [dot] com, 03/10/2012 */


/* RESETS */
html, body, div, span, object,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, code, em, font, img, strong, var, ul, ol, dl, li,
fieldset, form, label, caption,
table, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; background: transparent; }
ol, ul { list-style: none; }
:focus { outline: 0; }
table { border-collapse: collapse; border-spacing: 0; }


/* BASIC */
div { display: block; }
.left { float: left; }
.right { float: right; }
.clear { clear: both; }


/* FONTS */
h1 { font: bold 24px/48px Helvetica; }
h2 { font: bold 18px/24px Helvetica; margin-bottom: 20px; }
h2 { font: bold 18px/24px Helvetica; margin-bottom: 20px; }
h3 { font: bold 14px/18px Helvetica; margin-bottom: 20px; }
p, label { font: normal 12px/18px Helvetica; text-align: left; margin-bottom: 20px; }
a { font: 12px/18px Helvetica; text-decoration: none; color: black; }
li { font: normal 12px/18px Helvetica; text-align: left; margin-bottom: 5px; }


/* BODY */
html { background: url(images/bg.jpg) repeat 50%; height: 100%; }
body { height: 100%; width: 960px; margin: 0 auto; background: url(images/bg.jpg)}


/* HEADER */
#header {
	background: url(images/body.jpg) repeat;
	height: 175px; width: 103.25%; margin-bottom: 60px;
	position: relative; right:15px;
}

	/* LOGO */
	#header #logo {
		background: url(images/crest.png) no-repeat;
		display: block; height: 53px; width: auto; padding-left: 50px;
		float: left; position: relative; top: 40px; left: 25px;
		font: 16px/53px Helvetica; color: black;
	}

	/* NAVIGATION */
	#header #nav { background: black; height: 40px; width: 100%; position: absolute;  bottom: -10px;}
	#header #nav li { float: left; line-height: 40px; }
	#header #nav li a { font: 13px/40px Helvetica; color: white; display: block; height: 40px; width: auto; padding: 0 15px; }
	#header #nav li a:hover, #header #nav li.active a { background: url(images/body.jpg) repeat; color: black; }

	
/* CONTENT */
.content {
	background: url(images/body.jpg) repeat;
	height: auto; width: 960px; margin-bottom: 60px; padding: 0 20px 20px;
	position: relative; overflow: hidden; right: 15px; 
}


.nav_edit {
	background:black;
	height: auto; width: 960px; margin-bottom: -21px;  padding: 0 20px 20px;
	position: relative; overflow: hidden; right:30px;
}
#nav_title { color: white;}
.custom #edit_nav{ color:white;}
.custom #edit_nav:hover{ color:black;}

.custom .active #edit_nav{ color:black;}
.content h2.title {
	line-height: 95px; border-bottom: 2px solid black; margin-bottom: 40px;
	width: 105%; position: relative; left: -20px; padding: 0 20px; margin-top:5px;
}

/* FOOTER */
#footer { background: url(images/body.jpg) repeat; height: 50px; width: 103.25%; position:relative; right:15px; }
#footer p { font: bold 10px/50px Helvetica; text-align: center; }

#overlay_form_readme{
	position: absolute;
	border: 5px solid gray;
	padding: 10px;
	background: white;
	width: 270px;
	height: 190px;
}
#pop{
	display: block;
	border: 1px solid gray;
	width: 65px;
	text-align: center;
	padding: 6px;
	border-radius: 5px;
	text-decoration: none;
	margin: 0 auto;
}


